@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 :root{
--cor1:  #080A0D;
--cor2:  #11151A;
--cor3:  #FFFFFF;
--cor4:  #A5A5A5;
--cor5:  #E50920;
--cor6:  #252A30;
--font1: 'Montserrat', sans-serif;
--font2: 'Poppins', sans-serif;
--font3: 'Inter', sans-serif;
 }
header{
    background-color: var(--cor1);
}
 
 .logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--cor3)
    
 }
 .logo img{
    width: 100px;
 }
 .logo h1{
    margin-left: 20px;
    font-family: var(--font2);
 }
 .title{
    color: var(--cor5);
 }
 .nave-links{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 20px 15px;

  
 } 
.nave-links .navegation{
    display: flex;
    gap: 40px;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
   
}
li,a{
 color: var(--cor3);
  text-decoration: none;
  font-family: var(--font2);
}
.icons{
    display: flex;
    align-items: center;
    gap: 10px; 
}

.navegation a {
  position: relative;
  display: inline-block;
}

.navegation a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: var(--cor5);
  transition: width 0.3s ease;
}

.navegation a:hover::after {
  width: 100%;
}

.navegation a:hover {
  color: var(--cor5);
  transition: color 0.3s ease;
}
.container{
   background-image: url(/imagens/Imagem1..png);
  height: 100vh;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: cover;
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
}
.bem-vindo h3{
  color: var(--cor3);
}
.bem-vindo h2{
  color: var(--cor3);
  font-size: 2.8rem;
}
.bem-vindo p{
  color: var(--cor3);
}
